$desktops: 1281px;

$LaptopsMin: 1025px;
$LaptopsMax: 1280px;

$tabletsMin: 768px;
$tabletsMax: 1024px;

$LandscapeMin: 481px;
$LandscapeMax: 767px;

$smartphonesMin: 320px;
$smartphonesMax: 480px;


