@import "./global/common";
@import "./global/reset";
@import "./components/wrapper";
@import "./components/input";
@import "./components/button";


h3 {
  font-size: 24px;
}

div {
  margin: 10px;
  font-size: 24px;
}




