@import "../state/screens";

.advantages__content {
  border-top: 5px solid #f16334;
  display: flex;
  flex-flow: column nowrap;
  gap: 20px;
  align-items: center;
  padding-bottom: 50px;
  padding-top: 50px;
}

.advantages__cards {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  gap: 20px;

  &-item {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-around;

    gap: 5px;
    padding: 1rem;
    flex: 0 0 33%;
    max-width: 33%;
    border: 3px solid #f16334;
    border-radius: 10px;
    box-shadow: 5px 5px 15px #f16334;
  }
}

.advantages__cards-img {
  display: flex;
  justify-content: center;

  & img {
    padding: 15px;
    max-width: 30%;
  }

}

.advantages__cards-title {
  text-align: left !important;

  & h2 {
    padding: 5px;
    margin: 0;
  }
}

.advantages__title {
  text-align: left;
  align-items: flex-start;
}

.advantages__cards-text {
  text-align: left;

  & p {
    margin: 0;
    padding: 5px;
    color: #343a40;
  }
}


@media screen and (max-width: $LaptopsMax) and (min-width: $smartphonesMin) {
  .advantages__cards {
    flex-flow: column;

    &-item {
      max-width: 100%;
      flex: 0 0 100%;
    }
  }

}

